// CTA buttons
.cta {
  display: inline-block;
  font: 500 1rem/120% $font-family-base, sans-serif;
  color: $n-light-1;
  text-align: center;
  text-decoration: if($link-decoration==none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: transparent;
  border: 2px solid $n-light-1;
  border-radius: $border-radius;
  padding: .5rem 2rem;
  @include transition($btn-transition);

  &:hover,
  &:focus {
    color: $n-dark-1;
    background-color: $n-light-1;
    text-decoration: if($link-hover-decoration==underline, none, null);
  }

  .cta-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  .cta-check:checked + &,
  .cta-check:active + &,
  &:active,
  &.active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }
}