// NickBravo.dev color scheme
$n-dark-1: #272b2a !default;
$n-dark-2: #607466 !default;
$n-light-1: #edefce !default;
$n-light-2: #dde0bd !default;

// scss-docs-start theme-color-variables
// $primary: $blue !default;
// $secondary: $gray-600 !default;
$success: $n-dark-2 !default;
// $info: $cyan !default;
// $warning: $yellow !default;
$danger: #ba3f1d !default;
$light: $n-light-1 !default;
$dark: $n-dark-1 !default;
$light-2: $n-light-2 !default;
$dark-2: $n-dark-2 !default;
// scss-docs-end theme-color-variables

// Body background color
$body-bg: $n-dark-1;
// Body text color
$body-color: $n-light-2;
// Navbar background color
$bg-dark-n: $n-dark-1;
// Lighter text color
$text-color-n: $n-light-1;