body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $n-light-1;
}

h1 {
  font: 900 3rem/120% $font-family-base, sans-serif;
}

h2 {
  font: 900 2rem/120% $font-family-base, sans-serif;
}

h3 {
  font: 700 1.4rem/120% $font-family-base, sans-serif;
}

nav {
  background-color: rgba($n-dark-1, 0.85);
}

header,
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-text {
  font: 700 1.2rem/120% $font-family-base, sans-serif;
  color: $n-light-1;
  margin-left: .5rem;
}

.brand-img {
  height: 3.5rem;
  width: auto;
}

.superheading {
  font: 700 2rem/130% $font-family-base, sans-serif;
  color: $n-light-1;
}

.subheading {
  font: 500 1.5rem/130% $font-family-base, sans-serif;
}

.hr-div {
  height: .15rem;
  width: 6rem;
  background-color: $n-light-2;
  margin: 1.5rem 0;
}

.hr-div-dark {
  @extend .hr-div;
  background-color: $n-dark-2;
  margin: 1.5rem auto;
}

.p-card {
  background-color: $n-light-2;
  border-radius: $border-radius;

  .hr-div {
    background-color: $n-dark-2;
  }
}

.copyright {
  font: 400 .8rem/120% $font-family-base, sans-serif;
}

.footer-social {
  height: 1.5rem;
  width: auto;
}

.resume-popout {
  width: 100%;
  max-width: 60rem;
}

.resume-heading {
  font: 900 1.5rem/120% $font-family-base, sans-serif;
  margin-top: 0rem;
  margin-bottom: 0;
}

.resume-subheading {
  font: 700 1rem/120% $font-family-base, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

#resume-body {

  h3 {
    color: $n-dark-1;
    font: 700 1rem/120% $font-family-base, sans-serif;
    margin-top: 0.9rem;
    margin-bottom: 0;
  }

  h4 {
    color: $n-dark-2;
    font: 700 0.9rem/120% $font-family-base, sans-serif;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  h5 {
    color: $n-dark-1;
    font: 700 0.8rem/120% $font-family-base, sans-serif;
    margin-top: 0.1rem;
    margin-bottom: 0;
  }

  p,
  li {
    color: $n-dark-2;
    font: 400 0.9rem/130% $font-family-base, sans-serif;
  }

  ul {
    margin: 0.5rem 0;
  }

  span {
    background-color: $n-dark-1;
  }
}

.resume-download {
  background-color: $n-dark-1;
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.resume-download-link {
  padding: .8rem;
  height: 100%;
}