// Navbar text and toggler
$navbar-dark-color: rgba($n-light-2, 1.0) !default;
$navbar-dark-hover-color: rgba($n-light-1, 1.0) !default;
$navbar-dark-active-color: $n-light-1 !default;
$navbar-dark-disabled-color: rgba($n-light-2, .99) !default;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color: rgba($n-light-1, .1) !default;


$nav-link-padding-y: .5rem !default;
$nav-link-padding-x: 1rem !default;
$nav-link-font-size: 0.9rem;
$nav-link-font-weight: 700;
$nav-link-color: rgba($n-light-2, 0.75) !default;
$nav-link-hover-color: rgba($n-light-1, 1.0) !default;
$nav-link-transition: color .15s ease-in-out,
background-color .15s ease-in-out,
border-color .15s ease-in-out !default;
$nav-link-disabled-color: rgba($n-light-2, 0.35) !default;